body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 155px 155px 155px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: #cf9f00;
    padding: 20px;
    animation-name: example;
    animation-duration: 10s;
}
  
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
    font-size: 5px;
}



    /* Sticky Message */
.stickyheader {
        padding: 10px 16px;
        background: #555;
        color: #f1f1f1;
      }

.content {
    padding: 16px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
.sticky + .content {
    padding-top: 102px;
  }